# liệt kê thư viện cần thiết 

tensorflow
numpy
matplotlib
opencv-python
scikit-learn
scikit-image
pillow
requests
beautifulsoup4
flask
flask-cors
flask-restful
tensorflow-hub
tensorflow-datasets
tensorflowjs
tensorflow-addons
tensorflow-io
tensorflow-privacy
tensorflow-probability
tensorflow-model-optimization
tensorflow-serving-api
tensorflow-text
tensorflow-quantization
tensorflow-datasets-nightly
tensorflow-addons-nightly
tensorflow-io-nightly
tensorflow-privacy-nightly
tensorflow-probability-nightly
tensorflow-model-optimization-nightly
tensorflow-serving-api-nightly